ci:
  autofix_prs: false

repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 23.10.1
    hooks:
      - id: black
        args:
        - --preview

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
    - id: flake8
      args: [--append-config=.flake8-pre-commit.cfg]
      additional_dependencies: [attrs>=19.2.0]
      exclude: ^tests\/
